<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <style>
        p{
            text-transform: capitalize;
            margin:2rem 3rem;
            text-align: justify;
        }
        p:hover{
            background-color: black;
            color:white;
            padding:1rem;
            transition: 2s all;
        }
    </style>

</head>

<body>
 
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est molestias voluptate qui voluptatum cumque minus, consequuntur suscipit aut eos, quibusdam, nihil saepe! Cupiditate reiciendis eaque pariatur fuga. Odit, beatae est.
        Magnam facere voluptas ipsam sint itaque! Odio aliquam consequatur a optio distinctio illum, numquam soluta id accusantium voluptatum animi perspiciatis quo nulla hic saepe sunt minus asperiores ipsum. Unde, laborum.
        Ullam error dolor veniam qui ratione fugit autem modi aspernatur eum, sapiente nesciunt tempore quia voluptatibus placeat, unde fugiat, totam veritatis libero illo perferendis! Id voluptatibus doloremque reiciendis. Ex, nulla!
        Eum laudantium dolorum exercitationem nobis. Officiis sunt magni aut ea et. Odit sed ad aut id quod aliquid totam nesciunt, quos placeat, voluptatibus nihil? Quidem, vitae deserunt. Doloremque, inventore sapiente.
        At commodi, aspernatur eum maiores neque porro ad velit ipsum nisi itaque molestias dolor voluptatum praesentium beatae maxime ducimus, facilis deleniti officia esse earum exercitationem aut eos. Laudantium, earum assumenda.
    </p>

 
 
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>